@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --nav-bg: #0275dd;
  --text-color: #ffffff;
  --link-color: #34495e;
}
body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header {
  width: 100%;
  background: var(--text-color);
}
.header .container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img {
  height: 50px;
  width: 50px;
}
.header .logo label {
  font-size: 45px;
  font-weight: bolder;
  color: var(--link-color);
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  padding: 10px 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 25px;
}
.navbar ul li:hover {
  background: var(--nav-bg);
}
.navbar ul li:hover a {
  color: var(--text-color);
}
.toggle-bar {
  display: flex;
  align-items: center;
  display: none;
}
